
TrabajoPractico-2/Debug/

TrabajoPractico-2/Release/

TrabajoPractico-2/x64/Release/

TrabajoPractico-2/x64/Debug/

TrabajoPractico-2/.vs/

TrabajoPractico-2/Ejercicio-1/Debug/

TrabajoPractico-2/Ejercicio-1/Release/

TrabajoPractico-2/Ejercicio-1/x64/Debug/

TrabajoPractico-2/Ejercicio-1/x64/Release/